{% extends "base.html" %}
{% block content %}
{% include "includes/header.html" %}


<!-- SHOWING TEXT START -->
<div class="showing text-center my-4">
    <div class="mx-auto" style="width: 200px; height: 3px; background: rgb(168, 49, 49); border-radius: 2px; box-shadow: 9px 1px 12px 1px red;""></div>
    <h2 class="text-danger fw-bold">В <span class="text-danger">прокате</span></h2>
    <div class="mx-auto" style="width: 140px; height: 3px; background: rgb(168, 38, 38); border-radius: 2px; box-shadow: 9px 1px 12px 1px red;""></div>
</div>
<!-- SHOWING TEXT END-->

 <!-- SHOWING SESSIONS START -->
<div class="row g-3 p-3">
    {% for movie in movies_showing %}
    <div class="posters col-6 col-md-4 col-lg-3">
        <div class="card bg-dark text-white h-100">
            <a href="{% url 'movie_detail' movie.slug %}"><img style="height: 300px; object-fit:cover;" src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}"></a>
            <div class="card-body">
                <a style="text-decoration: none;" href="{% url 'movie_detail' movie.slug%}"><h6 class="card-title text-white" >{{ movie.title }}</h6></a>
                <p style="color: rgb(120, 117, 125) !important;" class="card-text text-muted small">{{ movie.genre }} •
                    {{ movie.age_limit }}+</p>
                <a href="{% url 'movie_detail' movie.slug %}" class="btn btn-danger btn-sm w-100">Расписание</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
 <!-- SHOWING SESSIONS END -->

<!-- PREMIERES TEXT START -->
<div class="premieres text-center my-4">
    <div class="mx-auto" style="width: 200px; height: 3px; background: rgb(168, 38, 38); border-radius: 2px;box-shadow: 9px 1px 12px 1px red;"></div>
    <h2 class="text-danger fw-bold">Предстоящие <span class="text-danger">премьеры</span></h2>
    <div class="mx-auto" style="width: 140px; height: 3px; background: rgb(168, 38, 38); border-radius: 2px;box-shadow: 9px 1px 12px 1px red;"></div>
</div>
<!-- PREMIERES TEXT END -->

<!-- PREMIERES  START -->
<div class="row g-3 p-3">
    {% for movie in movies_soon %}
    <div class="posters col-6 col-md-4 col-lg-3">
        <div class="card bg-dark text-white h-100">
            <a href="{% url 'movie_detail' movie.slug %}"><img style="height: 300px; object-fit:cover;" src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}"></a>
            <div class="card-body">
                <a style="text-decoration: none;" href="{% url 'movie_detail' movie.slug%}"><h6 class="card-title text-white">{{ movie.title }}</h6></a>
                <p style="color: rgb(120, 117, 125) !important;" class="card-text text-muted small">{{ movie.genre }} •
                    {{ movie.age_limit }}+</p>
                <a href="{% url 'movie_detail' movie.slug %}" class="btn btn-danger btn-sm w-100">Расписание</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- PREMIERES  END -->


{% include "includes/footer.html" %}
{% endblock content %}