<header>
    <div class="row g-4">
        <div class="col-6" style="background-color: red;">
            <div class="logo">
                <a href="/">
                    <img src="https://ic.p24.st/unsafe/400x/api.p24.app/files/c4173acf-b954-41f7-9de0-b7a1cdad12d5.png"
                        style="width: 500px;" alt="">
                </a>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center" style="background-color: blue;">
            <div class="nav-bar">
                <ul class=" d-flex gap-4 mb-0 list-unstyled text-center">
                    <li class="list-items">Главная</li>
                    <li class="list-items">Афиша</li>
                    <li class="list-items">о нас</li>
                </ul>
            </div>
        </div>
    </div>
</header>