{% load static %}
<header>
    <div class="bg-dark  row g-4">
        <div class="col-6">
            <div class="logo">
                <a href="/">
                    <img  src="/media/posters/logo.png"
                        style="width: 500px;" alt="">
                </a>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div class="nav-bar">
                <ul class="text- d-flex gap-4 mb-0 list-unstyled text-center">
                    <li class="list-items text-white fw-bold"> <a href="/">Главная</a> </li>
                    <li class="list-items text-white fw-bold"> <a href="{% url 'movie_list' %}">Афиша</a> </li>
                    <li class="list-items text-white fw-bold"> <a href="">О нас</a> </li>
                </ul>
            </div>
        </div>
    </div>
</header>