<!doctype html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>КиноТеатр Мир</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Hello, world!</h1>
    {% block content %}
    {% endblock content %}
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>